:root {
  --PrimaryColor: rgb(43, 43, 43);
  --SecondaryColor: rgb(133, 133, 133);
  --gradientColor: linear-gradient(to right, rgba(230, 228, 228, 0.53), rgba(235, 245, 238));
  --blackColor: rgb(22, 22, 22);
  --whiteColor: white;
  --inputColor: rgb(214, 214, 214);
  --bodyColor: #c2c1a5;
  --textColor: #515751;
  --cardBG: rgb(238, 238, 238);
}

.home {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.home .homeContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 6.5rem 1.5rem 3rem;
  display: flex;
  row-gap: 2rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.home .homeContent .cardDiv {
  position: relative;
  padding: 3rem 1.5rem;
  background: var(--cardBG);
  border-radius: 10px;
  gap: 1rem;
}
.home .homeContent .cardDiv label {
  display: block;
  color: var(--PrimaryColor);
  padding-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}
.home .homeContent .cardDiv .input {
  height: 40px;
  padding: 0 1rem;
  border-radius: 3rem;
  background: var(--inputColor);
}
.home .homeContent .cardDiv .input input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
}
.home .homeContent .cardDiv .input input::placerholder {
  font-size: 13px;
}
.home .homeContent .cardDiv .destinationInput,
.home .homeContent .cardDiv .typeInput {
  background: var(--cardBG);
}
.home .homeContent .cardDiv .icon {
  color: var(--PrimaryColor) !important;
  background: var(--inputColor);
  font-size: 1.2rem;
  margin-left: 10px;
}
.home .homeContent .cardDiv .input[type=range] {
  background: blue;
}
.home .homeContent .searchOptions {
  position: absolute;
  background: var(--textColor);
  width: -moz-max-content;
  width: max-content;
  bottom: -0.7rem;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  padding: 5px 1rem;
  border-radius: 3rem;
  left: 50%;
  transform: translate(-50%);
  justify-content: center;
  cursor: pointer;
}
.home .homeContent .searchOptions span {
  background: var(--textColor);
}
.home .homeContent .searchOptions .icon {
  font-size: 15px;
  background: var(--textColor);
}

@media screen and (min-width: 500px) {
  .home .homeContent .homeTitle {
    position: relative;
    font-size: 2rem;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem 0;
  }
  .home .cardDiv {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 660px) {
  .home .homeContent .cardDiv {
    padding: 2rem 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .home .homeContent .input {
    width: 220px;
  }
}
@media screen and (min-width: 940px) {
  .home {
    height: 70vh;
  }
  .home .location {
    width: 550px;
  }
  .home .date {
    width: 250px;
  }
}
@media screen and (min-width: 1240px) {
  .home {
    height: 95vh;
  }
  .home .homeTitle {
    padding-left: 2rem;
  }
  .home .location {
    width: 550px;
  }
  .home .date {
    width: 350px;
  }
  .home .cardDiv .searchOptions {
    bottom: -1rem;
  }
}/*# sourceMappingURL=home.css.map */